html {
  font-family: 'Arial'
}
* {
  margin: 0;
  padding: 0;
}

.header {
  font-weight: 600;
  font-size: larger;
  color: white;
  background-color: #36B288;
  height: 35px;
  padding-top: 15px;
  padding-left: 15px;
}

table {
  margin: 30px;
}

.td-top {
  font-weight: bold;
}

td {
  min-width: 170px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

tr.grey {
  background-color: #b3ffd9;
}